{% extends "base.html" %} {% block content %}
<header
  class="text-center py-16 px-4 bg-white/50 backdrop-blur-sm rounded-3xl shadow-xl mb-10 border border-slate-200"
>
  <h1 class="text-6xl font-extrabold tracking-tighter text-slate-900 mb-4">
    <span
      class="text-rose-600 transition-colors duration-500 hover:text-slate-900"
      >Cálculo
    </span>
  </h1>
  <p class="text-xl text-slate-700 max-w-3xl mx-auto mb-8">
    Esta unidad está enfocada en cálculo diferencial e integral: límites,
    derivadas, integrales y aplicaciones.
  </p>
  <div class="flex justify-center gap-4">
    <a href="{{ url_for('calculo.limites') }}" class="btn-accent text-lg">
      Limites
    </a>
    <a href="{{ url_for('calculo.derivadas') }}" class="btn-accent text-lg">
      Derivadas
    </a>
    <a href="{{ url_for('calculo.integrales') }}" class="btn-accent text-lg">
      Integrales
    </a>
  </div>
</header>

<section class="grid md:grid-cols-3 gap-6">
  <h2
    class="md:col-span-3 text-3xl font-bold text-slate-800 mb-2 mt-4 text-center border-b pb-2 border-slate-200"
  >
    Navegación Rápida
  </h2>

  <a
    href="{{ url_for('calculo.limites') }}"
    class="card-big transition-transform duration-300 hover:scale-[1.03]"
    style="background: linear-gradient(135deg, #e11d48, #f43f5e); color: white"
  >
    <div>
      <h2 class="text-2xl font-bold">Limites</h2>
      <p class="mt-1 opacity-80 text-slate-100">
        Evalua limites simbólicos y numericos.
      </p>
    </div>
  </a>

  <a
    href="{{ url_for('calculo.derivadas') }}"
    class="card-big transition-transform duration-300 hover:scale-[1.03]"
    style="background: linear-gradient(135deg, #e11d48, #f43f5e); color: white"
  >
    <div>
      <h2 class="text-2xl font-bold text-white">Derivadas</h2>
      <p class="mt-1 opacity-80 text-slate-300">
        Calcula derivadas y conoce reglas básicas.
      </p>
    </div>
  </a>
  <a
    href="{{ url_for('calculo.integrales') }}"
    class="card-big transition-transform duration-300 hover:scale-[1.03]"
    style="background: linear-gradient(135deg, #e11d48, #f43f5e); color: white"
  >
    <div>
      <h2 class="text-2xl font-bold text-white">Integrales</h2>
      <p class="mt-1 opacity-80 text-slate-300">
        Calcula integrales definidas e indefinidas.
      </p>
    </div>
  </a>
</section>
{% endblock %}
